@model StudyEstimator_MVC.Models.Parameter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Parameter</legend>

    <div class="display-label">Param_Item</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Param_Item)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
